/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* Debug */
.debug {
  .bg-header {
    background-color: #add8e6;

    * {
      background-color: #daa520;
    }
  }

  #jumbotron {
    background-color: #00008b;

    .jumbo-item {
      background-color: #ee82ee
    }
  }

  .section-items {
    background-color: #1e90ff;
  }

  .section-items-2 {
    background-color: #ffc0cb;
  }

  .tech-items {
    background-color: #228b22;
  }

  .bg-footer-bar {
    background-color: #7fffd4;
  }

}

/* Utilities */
.bg-light {
  background-color: #d3d3d3;
}

.bg-ligher {
  background-color: #ffff;
}

.bg-dark {
  background-color: #23272a;
}

.container {
  width: 80%;
  margin: auto;
}


/* header */
#site-header {
  padding: 1rem 0;
  display: flex;
  align-items: center;

  .container {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  a {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
      color: rgb(56, 3, 56);
    }
  }
}

/* main */

#jumbotron {
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .jumbo-item {
    min-height: 100px;
    border: 1px dashed;
  }
}

section {

  padding: 2rem 0;
  display: flex;


  .d-flex {
    display: flex;
    justify-content: center;
  }

  .d-flex-reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .section-items {
    min-height: 230px;
    width: 70%;
    border: 1px dashed;
  }

  .section-items:last-child {
    width: 30%;
    background-color: #ffc0cb
  }
}

#tecnology {


  .tech-items {
    border: 1px dashed;
    min-height: 500px;
    width: 100%;
    border: 1px dashed;
  }

}


/* footer */

#footer-site {


  .foot-flex {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
  }

  .footer-items:first-child {
    width: 50%;
    background-color: #ffc0cb;
  }

  .footer-items {
    min-height: 300px;
    width: 15%;
    background-color: #20b2aa;
    border: 1px dashed;
  }

  .flex-foot-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;

  }

  .footer-bar {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 2px solid #d3d3d3;
  }


}