/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* Utilities */
.debug {
  .bg-header {
    background-color: #add8e6;

    * {
      background-color: #daa520;
    }
  }

  #jumbotron {
    background-color: #00008b;

    .jumbo-item {
      background-color: #ee82ee
    }
  }

  .section-items {
    background-color: #1e90ff;
  }

  .section-items-2 {
    background-color: #ffc0cb;
  }
}

.bg-light {
  background-color: #d3d3d3;
}

.bg-ligher {
  background-color: #ffff;

}

.container {
  width: 80%;
  margin: auto;
}

/* header */
#site-header {
  min-height: 30px;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  a {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
      color: rgb(56, 3, 56);
    }
  }
}

/* main */

#jumbotron {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;

  .jumbo-item {
    min-height: 100px;
  }
}

section {
  min-height: 250px;
  padding: 2rem 0;
  display: flex;


  .container {
    display: flex;
    justify-content: center;
  }
}

.section-items {
  min-height: 230px;
  width: 70%;
}

.section-items-2 {
  width: 30%;
}